<template>
    <div class="form-signin">
        <!-- <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div v-if="message != ''" class="alert alert-danger" role="alert">
            {{message}}
        </div>

        <label for="inputUsername" class="sr-only">Email address</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus v-model="username" :disabled="loading" v-on:keyup.13="login">

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" v-model="password" class="form-control" placeholder="Password" required :disabled="loading" v-on:keyup.13="login">
        
        <input type="hidden" id="inputURL" v-model="url" class="form-control" :disabled="loading">
        <button class="btn btn-lg btn-primary btn-block" type="submit" v-on:click="login" :disabled="loading">Sign in</button>
        <p class="mt-5 mb-3 text-muted" style="margin-top: 10px">2018 &copy; Asep Maulana Ismail</p>
    </div>
</template>

<script>
    import axios from 'axios';
    const client = axios.create({
        timeout: 5000,
        headers: {
            'Content-type': 'application/json'
        }
    });
    export default {
        data(){
            return {
                loading: false,
                message: "",
                url: "",
                username: "",
                password: ""
            }
        },
        computed: {
        },
        methods:{
            isValid: function(){
                if (this.username == ""){
                    this.message = "Username can't be empty.";
                    $("#inputUsername").focus();
                    return false;
                }
                if (this.password == ""){
                    this.message = "Password can't be empty.";
                    $("#inputPassword").focus();
                    return false;
                }
                return true;
            },
            focus: function(){
                this.$nextTick(() => {
                    $("#inputUsername").focus();
                });
            },
            login: function(){
                this.message = "";
                if (this.isValid()){
                    this.loading = true;
                    client.post("/api/auth", {
                        username: this.username,
                        password: this.password
                    }).then((response)  =>  {
                        // do something here with the response
                        if (response.status == 200){
                            // use response.data here
                            if (response.data.code == ""){
                                this.loading = false;
                                if (Array.isArray(response.data.message)){
                                    this.message = response.data.message[0];
                                }else{
                                    this.message = response.data.message;
                                }
                                this.focus();
                            }else{
                                location.href = "/authenticated?u=" + response.data.code + "&url=" + this.url;
                            }
                        }else{
                            this.loading = false;
                            this.message = response.statusText;
                            this.focus();
                        }
                    }, (error)  =>  {
                        this.loading = false;
                        this.message = error.message;
                        this.focus();
                    });
                }
            }
        },
        mounted() {
            // set url if any
            var url = new URL(location.href);
            this.url = url.searchParams.get("url");
        }
    }
</script>

<style>
html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
