<template>
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li v-for="(menu, index) in menus" v-bind:key="index" v-bind:class="{treeview: menu.child, active: isActive(index), 'menu-open': isActive(index)}" v-if="menu.role.indexOf(role_id) >= 0">
            <a v-bind:href="menu.href">
                <i class="fa" v-bind:class="menu.cssIcon"></i> <span>{{menu.title}}</span> 
                <span class="pull-right-container" v-if="menu.child">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu" v-if="menu.child">
                <li v-for="(child, childIndex) in menu.child" v-bind:key="childIndex" v-bind:class="{active: isActiveChild(index, childIndex)}" v-if="child.role.indexOf(role_id) >= 0"><a v-bind:href="child.href"><i class="fa" v-bind:class="child.cssIcon"></i> {{child.title}}</a></li>
            </ul>
        </li>
    </ul>
</template>

<script>
    export default {
        props: ["role_id"],
        data(){
            return {
                menus: [
                    {
                        href: "/",
                        title: "Dashboard",
                        cssIcon: "fa-dashboard",
                        role: "1,2"
                    },
                    {
                        href: "#",
                        title: "Master",
                        cssIcon: "fa-gear",
                        role: "1",
                        child:[
                            {
                                href: "/user",
                                title: "User",
                                cssIcon: "fa-user",
                                role: "1"
                            },
                            {
                                href: "/system",
                                title: "System Master",
                                cssIcon: "fa-gear",
                                role: "1"
                            }
                        ]
                    }
                ]
            };
        },
        methods: {
            isActive: function(index){
                var active = false;
                if (location.pathname.indexOf(this.menus[index].href) >= 0)
                    active = true;
                if (!active){
                    for(var cIndex in this.menus[index].child){
                        if (location.pathname.indexOf(this.menus[index].child[cIndex].href) >= 0){
                            active = true;
                            break;
                        }
                    }
                }
                return active;
            },
            isActiveChild: function(index, childIndex){
                return location.pathname.indexOf(this.menus[index].child[childIndex].href) >= 0;
            }
        },
        mounted() {
            //
        }
    }
</script>
