<template>
    <div class="row">
        <div class="col-md-12">
            <div v-if="message != ''" class="alert" :class="{'alert-danger': isError, 'alert-success': !isError}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{message}}
            </div>
        </div>
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Filters</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" placeholder="Enter Username" v-model="filter.username" v-on:keyup.13="search" autofocus>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group pull-right">
                            <button type="button" id="btnClear" class="btn btn-default" v-on:click="clear"><i class="fa fa-remove"></i> Clear</button>
                            <button type="button" id="btnSearch" class="btn btn-danger" v-on:click="search"><i class="fa fa-search"></i> Search</button>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-12">
            <com-table-basic ref="table" :apiURL="apiURL" :pageURL="pageURL" :columns="columns" :primaryKey="primaryKey"></com-table-basic>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    const client = axios.create({
        timeout: 5000,
        headers: {
            'Content-type': 'application/json'
        }
    });
    export default {
        data(){
            return {
                // ini attribut yang berhubungan dengan halaman
                loading: false,
                apiURL: "/api/user",
                pageURL: "/user",
                primaryKey: "id",
                filter:{
                    username: ""
                },
                columns: [{
                        "key": "username",
                        "value": "Username"
                },{
                        "key": "role_id",
                        "value": "Role"
                }],
                isError: false,
                message: "",
                tableData: {},
                selected: []
            };
        },
        watch:{
            "tableData": function(){
                this.$refs.table.setTableData(this.tableData);
            },
            "loading": function(){
                if (this.loading){
                    this.$refs.table.setLoading(true);
                }else{
                    this.$refs.table.setLoading(false);
                }
            }
        },
        methods: {
            clear: function(){
                this.filter.username = "";
                this.$refs.table.search(this.filter);
            },
            search: function(){    
                this.$refs.table.search(this.filter);   
            },
            setError: function(message){
                if (message){
                    this.isError = true;
                }else{
                    this.isError = false;
                }
                this.message = message;
            }
        },
        mounted() {
            this.search();
        }
    }
</script>
<style>
.table{
    margin: 0px;
}
</style>