<template>
    <select class="form-control" :id="id" :disabled="disabled"
        v-model="selectedValue"
        @input="$emit('input', selectedValue)">
        <option v-for="(obj, index) in combo" v-bind:key="index" v-bind:value="obj.value" 
        @input="$emit('input', selectedValue)">{{obj.text}}</option>
    </select>
</template>

<script>
    import axios from 'axios';
    const client = axios.create({
        timeout: 5000,
        headers: {
            'Content-type': 'application/json'
        }
    });
    export default {
        props: {
            urlCombo: {
                type: String,
                default: ""
            },
            required: {
                type: Boolean,
                default: false
            },
            id:{
                type: String,
                default: ""
            },
            disabled:{
                type: Boolean,
                default: false
            }
        },
        data: function() {
            return {
                combo: [],
                selectedValue: ""
            }
        },
        methods: {
            // insert method here...
            setValue: function(value) {
                this.value = value;
                this.selectedValue = value;
            },
            getValue: function(){
                return this.selectedValue;
            }
        },
        mounted(){
            client.get(this.urlCombo).then((response)  =>  {
                this.combo = response.data.items;
                if (this.required){
                    this.combo.splice(0, 0, {value: "", text: "-- Pilih --"});
                }else{
                    this.combo.splice(0, 0, {value: "", text: "-- Semua --"});
                }
            }, (error)  =>  {
                if (error.response.status == 401){
                    // redirect to login
                    swal({
                        title: "Session Timeout Warning",
                        text: "Sesi Anda telah habis",
                        button: {
                            text: "Sign in",
                            closeModal: false,
                        },
                        closeModal: false,
                        closeOnEsc: false,
                        closeOnClickOutside: false
                    }).then((value) => {
                        location.href = "/login?url=" + location.pathname;
                    });
                }else{
                    // this.isError = true;
                    // this.message = error.message;
                }
            });
        }
    }
</script>