<template>
    <div class="row">
        <div :class="colClass">
            <div v-if="message != ''" class="alert" :class="{'alert-danger': isError, 'alert-success': !isError}" role="alert">
                {{message}}
            </div>
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title" v-if="!loadData">{{config.title}}</h3>
                </div>
                <div role="form">
                    <div class="box-body">
                        <div :class="{'form-group': true, 'col-md-12': colClass == 'col-md-6', 'col-md-6': colClass == 'col-md-12'}" v-for="(obj, index) in config.fields" v-bind:key="index">
                            <label>{{obj.title}} <span v-if="obj.required">*</span></label>

                            <!-- text/password input -->
                            <input v-if="obj.type == 'text' || obj.type == 'password'" :type="obj.type" class="form-control" v-model="data[obj.fieldName]" :id="obj.fieldName" :placeholder="obj.placeholder" :required="obj.required" :disabled="obj.disabled || loading" v-on:keyup.13="save" :autofocus="obj.autofocus" :maxlength="obj.maxlength">

                            <!-- number input -->
                            <input v-if="obj.type == 'number'" type="number" class="form-control" v-model="data[obj.fieldName]" :id="obj.fieldName" :placeholder="obj.placeholder" :disabled="obj.disabled || loading" :required="obj.required" v-on:keyup.13="save" :autofocus="obj.autofocus" :max="obj.max" :min="obj.min">

                            <!-- number input -->
                            <textarea v-if="obj.type == 'textarea'" class="form-control" v-model="data[obj.fieldName]" :id="obj.fieldName" :placeholder="obj.placeholder" :disabled="obj.disabled || loading" :required="obj.required" v-on:keyup.13="save" :autofocus="obj.autofocus"></textarea>

                            <!-- combo input -->
                            <com-combo-basic v-if="obj.type == 'combo'" v-model="data[obj.fieldName]" :ref="obj.fieldName" :urlCombo="obj.apiCombo" :required="obj.required" :emptyLabel="obj.emptyLabel"> </com-combo-basic>

                        </div>
                    </div>

                    <div class="box-footer">
                        <button type="button" class="btn btn-danger pull-right" v-on:click="save" :disabled="loading"><i class="fa fa-save"></i> Simpan</button>&nbsp;&nbsp;
                        <button type="button" class="btn btn-default pull-right btn-back" v-on:click="back" :disabled="loading">Kembali</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    const client = axios.create({
        timeout: 5000,
        headers: {
            'Content-type': 'application/json'
        }
    });
    export default {
        props: {
            id: {
                type: String,
                default: ""
            },
            colClass: {
                type: String,
                default: "col-md-6"
            },
            config: {
                type: Object,
                default: {
                    title: "<title>",
                    apiURL: "",
                    pageURL: "",
                    fields: [
                        {
                            fieldName: "",
                            title: "",
                            placeholder: "",
                            type: "", // text, password, textarea, combo, number
                            required: false,
                            disabled: false,
                            autofocus: false,
                            // only for number input
                            min: 0,
                            max: 100,
                            // only for text/password/textarea input
                            maxlength: 100,
                            // only for combo
                            apiCombo: ""
                        }
                    ]
                }
            }
        },
        data(){
            return {
                // ini attribut yang berhubungan dengan halaman
                loading: false,
                isError: false,
                loadData: false,
                message: "",
                data: {}
            };
        },
        computed:{
            isEdited: function(){
                var isEdited = false;
                for(var i in this.data){
                    if (this.data[i] != ""){
                        isEdited = true;
                        break;
                    }
                }
                return isEdited; 
            },
            isValid: function(){
                var isValid = true;
                for(var i in this.config.fields){
                    var obj = this.config.fields[i];
                    var value;
                    if (obj.type != "combo"){
                        value = this.data[obj.fieldName]
                    }else{
                        if (Array.isArray(this.$refs[obj.fieldName]))
                            value = this.$refs[obj.fieldName][0].getValue();
                        else
                            value = this.$refs[obj.fieldName].getValue();
                    }
                    if (obj.required && !value){
                        isValid = false;
                        this.message = obj.title + " couldn't be empty.";
                        this.isError = true;
                        break;
                    }
                }
                return isValid;
            }
        },
        methods: {
            back: function(){
                if (!this.isEdited){
                    this.loading = true;
                    location.href=this.config.pageURL;
                    return;
                }
                swal({
                    title: "Are you sure?",
                    text: "Your data will be discarded",
                    buttons: {
                        cancel: {
                            text: "Cancel",
                            value: false,
                            visible: true,
                            className: "",
                            closeModal: true,
                        },
                        confirm: {
                            text: "OK",
                            value: true,
                            visible: true,
                            className: "",
                            closeModal: false
                        }
                    }
                }).then((value) => {
                    if (value)
                        location.href=this.config.pageURL;
                });
            },
            save: function(){
                if (this.isValid){
                    this.loading = true;
                    if (this.id != ""){
                        client.put(this.config.apiURL + "/" + this.id, this.data).then((response)  =>  {
                            // do something here with the response
                            if (response.data.status == 1){
                                // use response.data here
                                location.href=this.config.pageURL;
                            }else{
                                this.loading = false;
                                this.isError = true;
                                if (Array.isArray(response.data.message))
                                    this.message = response.data.message[0];
                                else
                                    this.message = response.data.message;
                                this.$nextTick(() => {
                                    $("#" + this.data[0]).focus();
                                });
                            }
                        }, (error)  =>  {
                            if (error.response.status == 401){
                                // redirect to login
                                swal({
                                    title: "Session Timeout Warning",
                                    text: "Your session is expired.",
                                    button: {
                                        text: "Sign in",
                                        closeModal: false,
                                    },
                                    closeModal: false,
                                    closeOnEsc: false,
                                    closeOnClickOutside: false
                                }).then((value) => {
                                    location.href = "/login?url=" + location.pathname;
                                });
                            }else{
                                this.loading = false;
                                this.loadData = false;
                                this.isError = true;
                                if (Array.isArray(error.message))
                                    this.message = error.message[0];
                                else
                                    this.message = error.message;
                            }
                            this.$nextTick(() => {
                                $("#" + this.data[0]).focus();
                            });
                        });
                    }else{
                        client.post(this.config.apiURL, this.data).then((response)  =>  {
                            // do something here with the response
                            if (response.data.status == 1){
                                // use response.data here
                                location.href=this.config.pageURL;
                            }else{
                                this.loading = false;
                                this.isError = true;
                                if (Array.isArray(response.data.message))
                                    this.message = response.data.message[0];
                                else
                                    this.message = response.data.message;
                                this.$nextTick(() => {
                                    $("#" + this.data[0]).focus();
                                });
                            }
                        }, (error)  =>  {
                            if (error.response.status == 401){
                                // redirect to login
                                swal({
                                    title: "Session Timeout Warning",
                                    text: "Your session is expired.",
                                    button: {
                                        text: "Sign in",
                                        closeModal: false,
                                    },
                                    closeModal: false,
                                    closeOnEsc: false,
                                    closeOnClickOutside: false
                                }).then((value) => {
                                    location.href = "/login?url=" + location.pathname;
                                });
                            }else{
                                this.loading = false;
                                this.loadData = false;
                                this.isError = true;
                                if (Array.isArray(error.message))
                                    this.message = error.message[0];
                                else
                                    this.message = error.message;
                            }
                            this.$nextTick(() => {
                                $("#" + this.data[0]).focus();
                            });
                        });
                    }
                }
            },
            getData: function(){
                this.loadData = true;
                this.loading = true;
                client.get(this.config.apiURL + "/" + this.id).then((response)  =>  {
                    // do something here with the response
                    this.loading = false;
                    this.loadData = false;
                    for(var i in this.config.fields){
                        var obj = this.config.fields[i];
                        this.data[obj.fieldName] = response.data[obj.fieldName];
                        if (obj.type == "combo"){
                            if (Array.isArray(this.$refs[obj.fieldName]))
                                this.$refs[obj.fieldName][0].setValue(response.data[obj.fieldName]);
                            else
                                this.$refs[obj.fieldName].setValue(response.data[obj.fieldName]);
                        }
                    }
                    this.$nextTick(() => {
                        $("#" + this.data[0]).focus();
                    });
                }, (error)  =>  {
                    if (error.response.status == 401){
                        // redirect to login
                        swal({
                            title: "Session Timeout Warning",
                            text: "Your session is expired",
                            button: {
                                text: "Sign in",
                                closeModal: false,
                            },
                            closeModal: false,
                            closeOnEsc: false,
                            closeOnClickOutside: false
                        }).then((value) => {
                            location.href = "/login?url=" + location.pathname;
                        });
                    }else{
                        this.loading = false;
                        this.loadData = false;
                        this.isError = true;
                        if (Array.isArray(error.message))
                            this.message = error.message[0];
                        else
                            this.message = error.message;
                    }
                    this.$nextTick(() => {
                        $("#" + this.data[0]).focus();
                    });
                });
            }
        },
        watch: {
        },
        mounted() {
            if (this.id != ""){
                this.getData();
            }
        }
    }
</script>
<style>
    .btn-back{
        margin: 0px 5px;
    }
</style>