<template>
    <div class="box box-danger">
        <div class="box-header with-border">
            <!-- <h3 class="box-title">Data</h3> --> 
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" title="Refresh" v-on:click="search()">
                    <i class="fa fa-refresh"></i> <span class="">Refresh</span>
                </button>
                <button type="button" class="btn btn-box-tool" title="Add" v-on:click="add">
                    <i class="fa fa-plus"></i> <span class="">Tambah</span>
                </button>
                <button type="button" class="btn btn-box-tool" v-show="selected.length == 1" title="Edit" @click="edit">
                    <i class="fa fa-edit"></i> <span class="">Ubah</span>
                </button>
                <button type="button" class="btn btn-box-tool" v-show="selected.length > 0" title="Delete" @click="deleteData">
                    <i class="fa fa-trash"></i> <span class="">Hapus</span>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="col-md-12" style="overflow: auto;">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th width="40px;"><input type="checkbox" class="chkbxAll" @click="checkboxToggleAll"></th>
                            <th v-for="(col, index) in columns" v-bind:key="index">{{col.value}}</th>
                        </tr>
                        <tr v-for="(obj, index) in tableData.data" v-bind:key="index" v-if="!loading">
                            <td><input type="checkbox" class="chkbx" :data-id="obj.id" @click="checkboxToggle" aria-label="..."></td>
                            <td v-for="(col, index) in columns" v-bind:key="index">
                                {{obj[col.key]}}
                                <simple-table v-if="child != null" :apiURL="child.apiURL" :pageURL="child.pageURL" :columns="child.columns"></simple-table>
                            </td>
                        </tr>
                        <tr v-if="loading">
                            <td :colspan="this.columns.length+1"><center>Loading...</center></td>
                        </tr>
                        <tr v-if="!loading && tableData.data.length == 0">
                            <td :colspan="this.columns.length+1"><center>No data found.</center></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    const client = axios.create({
        timeout: 5000,
        headers: {
            'Content-type': 'application/json'
        }
    });
    export default {
        props: {
            columns: {
                type: Array,
                default: function(){
                    return [{
                        "key": "column_is_undefined",
                        "value": "column is undefined"
                    }]
                }
            },
            apiURL: {
                type: String,
                default: ""
            },
            pageURL: {
                type: String,
                default: ""
            },
            child: {
                type: Object,
                default: function(){
                    return null;
                }
            }
        },
        data: function() {
            return {
                loading: false,
                tableData: {
                    // ini attribut yang berhubungan dengan data
                    data: []
                },
                selected: []
            }
        },
        computed:{
        },
        methods: {
            // insert method here...
            setTableData: function(newData) {
                this.tableData = newData;
            },
            setLoading: function(isLoading) {
                this.loading = isLoading;
            },
            checkboxToggle: function(e){
                var chkbx = $(".chkbx:checked");
                this.selected = [];
                for(var i=0; i<chkbx.length; i++){
                    this.selected.push(chkbx[i].dataset.id);
                }
            },
            checkboxToggleAll: function(e){
                if (e.currentTarget.checked){
                    $(".chkbx").prop("checked", true);
                    var chkbx = $(".chkbx");
                    this.selected = [];
                    for(var i=0; i<chkbx.length; i++){
                        this.selected.push(chkbx[i].dataset.id);
                    }
                }else{
                    $(".chkbx").prop("checked", false);
                    this.selected = [];
                }
            },
            add: function(){
                location.href= this.pageURL + "/add";
            },
            edit: function(){
                location.href= this.pageURL + "/edit/"+this.selected[0];
            },
            deleteData: function(){
                var that = this;
                swal({
                    title: "Konfirmasi",
                    text: "Apakah anda ingin menghapus data ini?",
                    buttons: {
                        cancel: {
                            text: "Cancel",
                            value: false,
                            visible: true,
                            className: "",
                            closeModal: true,
                        },
                        confirm: {
                            text: "OK",
                            value: true,
                            visible: true,
                            className: "",
                            closeModal: false
                        }
                    }
                }).then((value) => {
                    if (value){
                        client.delete(this.apiURL, {
                            data: {
                                "ids": this.selected
                            }
                        }).then((response)  =>  {
                            // do something here with the response
                            if (response.data.status == 1){
                                // use response.data here
                                swal("Yeay!", "Data berhasil dihapus", "success");
                                this.selected = [];
                                this.$parent.search();
                            }else{
                                swal("Oopss!", "Data can't be deleted", "error");
                                this.loading = false;
                                this.message = response.data.message;
                            }
                        }, (error)  =>  {
                            swal("Oopss!", "Data can't be deleted", "error");
                            this.loading = false;
                            this.message = error.response.statusText;;
                        });
                    }
                });
            },
            search: function(){
                this.loading = true;
                client.get(this.apiURL).then((response)  =>  {
                    // do something here with the response
                    this.tableData = response.data;
                    this.loading = false;
                }, (error)  =>  {
                    if (error.response.status == 401){
                        // redirect to login
                        swal({
                            title: "Session Timeout Warning",
                            text: "Sesi Anda telah habis",
                            button: {
                                text: "Sign in",
                                closeModal: false,
                            },
                            closeModal: false,
                            closeOnEsc: false,
                            closeOnClickOutside: false
                        }).then((value) => {
                            location.href = "/login?url=" + location.pathname;
                        });
                    }else{
                        this.loading = false;
                        this.loadData = false;
                        this.isError = true;
                        if (Array.isArray(error.message))
                            this.message = error.message[0];
                        else
                            this.message = error.message;
                    }
                });
            }
        },
        mounted(){
            this.search();
        }
    }
</script>