<template>
    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">Data</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" title="Add" v-on:click="add">
                    <i class="fa fa-plus"></i> <span class="">Tambah</span>
                </button>
                <button type="button" class="btn btn-box-tool" v-show="selected.length == 1" title="Edit" @click="edit">
                    <i class="fa fa-edit"></i> <span class="">Ubah</span>
                </button>
                <button type="button" class="btn btn-box-tool" v-show="selected.length > 0" title="Delete" @click="deleteData">
                    <i class="fa fa-trash"></i> <span class="">Hapus</span>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="col-md-12" style="overflow: auto; height: 430px;">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th width="40px;"><input type="checkbox" class="chkbxAll" @click="checkboxToggleAll"></th>
                            <th v-for="(col, index) in columns" v-bind:key="index">{{col.value}}</th>
                        </tr>
                        <tr v-for="(obj, index) in response.data" v-bind:key="index" v-if="!loading">
                            <td><input type="checkbox" class="chkbx" :data-id="getPrimaryKey(obj)" @click="checkboxToggle" aria-label="..."></td>
                            <td v-for="(col, index) in columns" v-bind:key="index">{{obj[col.key]}}</td>
                        </tr>
                        <tr v-if="loading">
                            <td :colspan="this.columns.length+1"><center>Loading...</center></td>
                        </tr>
                        <tr v-if="!loading && response.data.length == 0">
                            <td :colspan="this.columns.length+1"><center>No data found.</center></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <div class="col-md-6">
                <!-- Info untuk tampilan non mobile -->
                <p id="pageInfo" class="pull-left  visible-md visible-lg" style="margin-top: 10px !important">Showing <b>{{response.from}}</b> to <b>{{response.to}}</b> of <b>{{response.total}}</b> entries</p>
                <!-- Info untuk tampilan mobile -->
                <p id="pageInfo" class="visible-sm visible-xs text-center" style="margin-top: 10px !important">Showing <b>{{response.from}}</b> to <b>{{response.to}}</b> of <b>{{response.total}}</b> entries</p>
            </div>
            <div class="col-md-6">
                <!-- Pagination untuk tampilan non mobile -->
                <ul class="pagination pagination-sm visible-md visible-lg no-margin pull-right">
                    <li class="paginate_button" v-bind:class="{disabled: response.first_page_url==null}" id="first"><button class="btn btn-sm btn-default btn-flat" v-bind:class="{disabled: response.first_page_url==null}" v-on:click="go(response.first_page_url)">First</button></li>
                    <li class="paginate_button" v-bind:class="{disabled: response.prev_page_url==null}" id="prev"><button class="btn btn-sm btn-default btn-flat" v-bind:class="{disabled: response.prev_page_url==null}" v-on:click="go(response.prev_page_url)">Previous</button></li>
                    <li class="paginate_button" v-bind:class="{disabled: response.next_page_url==null}" id="next"><button class="btn btn-sm btn-default btn-flat" v-bind:class="{disabled: response.next_page_url==null}" v-on:click="go(response.next_page_url)">Next</button></li>
                    <li class="paginate_button" v-bind:class="{disabled: response.last_page_url==null}" id="last"><button class="btn btn-sm btn-default btn-flat" v-bind:class="{disabled: response.last_page_url==null}" v-on:click="go(response.last_page_url)">Last</button></li>
                </ul>
                <!-- Pagination untuk tampilan mobile -->
                <center class="visible-sm visible-xs">
                    <ul class="pagination pagination-sm no-margin">
                        <li class="paginate_button" v-bind:class="{disabled: response.first_page_url==null}" id="first"><a href="#" v-on:click="go(response.first_page_url)">First</a></li>
                        <li class="paginate_button" v-bind:class="{disabled: response.prev_page_url==null}" id="prev"><a href="#" v-on:click="go(response.prev_page_url)">Previous</a></li>
                        <li class="paginate_button" v-bind:class="{disabled: response.next_page_url==null}" id="next"><a href="#" v-on:click="go(response.next_page_url)">Next</a></li>
                        <li class="paginate_button" v-bind:class="{disabled: response.last_page_url==null}" id="last"><a href="#" v-on:click="go(response.last_page_url)">Last</a></li>
                    </ul>
                </center>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    const client = axios.create({
        timeout: 5000,
        headers: {
            'Content-type': 'application/json'
        }
    });
    export default {
        props: {
            columns: {
                type: Array,
                default: function(){
                    return [{
                        "key": "column_is_undefined",
                        "value": "column is undefined"
                    }]
                }
            },
            apiURL: {
                type: String,
                default: ""
            },
            pageURL: {
                type: String,
                default: ""
            },
            filter: {
                type: Object,
                default: function(){
                    return {};
                }
            },
            primaryKey: {
                type: String,
                default: "id"
            },
            primaryKeys: {
                type: Array,
                default: []
            }
        },
        data: function() {
            return {
                loading: false,
                dataPrimaryKey: this.primaryKey,
                dataPrimaryKeys: this.primaryKeys,
                tableData: {
                    // ini attribut yang berhubungan dengan data
                    data: [],
                    current_page: 0,
                    last_page: 0,
                    first_page_url: null,
                    prev_page_url: null,
                    next_page_url: null,
                    last_page_url: null,
                    per_page: 0,
                    from: 0,
                    to: 0,
                    total: 0
                },
                selected: [],
                tableAPI: this.apiURL
            }
        },
        computed:{
            response: function () {
                return this.tableData;
            },
            computedApiURL: {
                get: function(){
                    return this.tableAPI;
                },
                set: function(apiURL){
                    this.tableAPI = apiURL;
                }
            }
        },
        methods: {
            // insert method here...
            getPrimaryKey: function(obj){
                if (this.dataPrimaryKeys.length > 0){
                    var primKeys = "";
                    for (var i in this.dataPrimaryKeys){
                        primKeys += obj[this.dataPrimaryKeys[i]] + "/";
                    }
                    return primKeys;
                }else{
                    return obj[this.dataPrimaryKey];
                }
            },
            setTableData: function(newData) {
                this.tableData = newData;
            },
            setLoading: function(isLoading) {
                this.loading = isLoading;
            },
            checkboxToggle: function(e){
                var chkbx = $(".chkbx:checked");
                this.selected = [];
                for(var i=0; i<chkbx.length; i++){
                    this.selected.push(chkbx[i].dataset.id);
                }
            },
            checkboxToggleAll: function(e){
                if (e.currentTarget.checked){
                    $(".chkbx").prop("checked", true);
                    var chkbx = $(".chkbx");
                    this.selected = [];
                    for(var i=0; i<chkbx.length; i++){
                        this.selected.push(chkbx[i].dataset.id);
                    }
                }else{
                    $(".chkbx").prop("checked", false);
                    this.selected = [];
                }
            },
            add: function(){
                location.href= this.pageURL + "/add";
            },
            edit: function(){
                location.href= this.pageURL + "/edit/"+this.selected[0];
            },
            deleteData: function(){
                var that = this;
                swal({
                    title: "Confirmation",
                    text: "Do you want to delete this file(s)?",
                    buttons: {
                        cancel: {
                            text: "Cancel",
                            value: false,
                            visible: true,
                            className: "",
                            closeModal: true,
                        },
                        confirm: {
                            text: "OK",
                            value: true,
                            visible: true,
                            className: "",
                            closeModal: false
                        }
                    }
                }).then((value) => {
                    if (value){
                        client.delete(this.apiURL, {
                            data: {
                                "ids": this.selected
                            }
                        }).then((response)  =>  {
                            // do something here with the response
                            if (Array.isArray(response.data.message))
                                var message = response.data.message[0];
                            else
                                var message = response.data.message;

                            if (response.data.status == 1){
                                // use response.data here
                                swal("Yeay!", "Data has been deleted", "success");
                                this.selected = [];
                                this.$parent.search();
                            }else{
                                swal("Oopss!", "Data can't be deleted", "error");
                                this.loading = false;
                                this.message = message;
                            }
                        }, (error)  =>  {
                            swal("Oopss!", "Data can't be deleted", "error");
                            this.loading = false;
                            this.message = error.response.statusText;;
                        });
                    }
                });
            },
            buildFilter: function(filters){
                var strFilters = "";
                for(var index in filters){
                    strFilters += "&" + index + "=" + filters[index];
                }
                if (this.computedApiURL.indexOf("?") == -1){
                    this.computedApiURL += "?1=1";
                }
                return strFilters;
            },
            resetError: function(){
                if (this.$parent.setError)
                    this.$parent.setError("");
            },
            search: function(filters){
                this.loading = true;
                this.resetError();
                var strFilters = this.buildFilter(filters);
                client.get(this.computedApiURL + strFilters).then((response)  =>  {
                    // do something here with the response
                    var message = "";
                    if (Array.isArray(response.data.message))
                        message = response.data.message[0];
                    else
                        message = response.data.message;

                    if (response.data.status != false){
                        this.tableData = response.data;
                    }else{
                        if (this.$parent.setError)
                            this.$parent.setError(message);
                    }
                    this.loading = false;
                }, (error)  =>  {
                    if (error.response.status == 401){
                        // redirect to login
                        swal({
                            title: "Session Timeout Warning",
                            text: "Your session is expired",
                            button: {
                                text: "Sign in",
                                closeModal: false,
                            },
                            closeModal: false,
                            closeOnEsc: false,
                            closeOnClickOutside: false
                        }).then((value) => {
                            location.href = "/login?url=" + location.pathname;
                        });
                    }else{
                        this.loading = false;
                        this.loadData = false;
                        this.isError = true;
                        if (Array.isArray(error.message))
                            this.message = error.message[0];
                        else
                            this.message = error.message;
                    }
                });
            },
            go: function(url){
                if (url != null){
                    this.computedApiURL = url;
                    this.search();
                }
            }
        },
        mounted(){
        }
    }
</script>